body {

    margin: 0;
    background-color: #676767;
    font-size: clamp(20px, 2vw, 80px);
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
}

h1 {

    font-size: 1.5em;
    margin: 1.5em;
}

p {

    font-size: 1em;
    margin: 1em 1em 1em 0;
}
